<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>NoticeBoard</title>
		<!-- 네비게이션바 부분 -->
		<script src="/static/js/common/navigation.js" defer></script>
		<link link rel="stylesheet" type="text/css" href="/static/css/common/navigation.css" />
		<!-- content 부분-->
		<script src="/static/js/board/boardList.js" defer></script>
		<link link rel="stylesheet" type="text/css" href="/static/css/board/boardList.css" />
		<link link rel="stylesheet" type="text/css" href="/static/css/common/boardTitle.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
			<!-- GET 방식 폼 -->
	<form id="searchForm" method="GET">
		<input type="hidden" id="keyword" name="keyword" th:value = "${keyword}"/>
		<input type="hidden" id="category" name="codeId" th:value = "${codeId}"/>
		<input type="hidden" name="reqPage" value="" />
		<input type="hidden" name="recCnt" value="" />
		<input type="hidden" name="cpgs" value="" />
		<input type="hidden" name="cp" value="" />
	</form>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{http://localhost:9080}"><img src="/static/img/logo/icons8-game-controller-100.png" alt=""></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li th:if="${session.loginMember != null}" class="nav-item">
					<button id="dropdownButton" class="btn " th:text="${session.loginMember.nickname}+'님'">메뉴 열기</button>
					<div id="dropdownMenu" class="dropdown-menu">
						<a href="/logout">로그아웃</a>
						<a href="#">마이페이지</a>
					</div>
				</li>
				<li th:if="${session.loginMember == null}" class="nav-item">
					<a class="nav-link" th:href="@{http://localhost:9080}">로그인</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<div class="board-title mb-3 row">
		<!-- Board title -->
		<div class="board-title-left col-sm-1">
			<a href="/board"><img src="/static/img/GAME.png" alt="" /></a>
		</div>
		<div class="board-title-right col-sm-9">
			<div><h2>kdh게임게시판</h2></div>
			<div><span>구독자수 </span><span> : 100명 </span><span> |</span><span>관리자 : kdh </span></div>
			<div><span>게임이벤트중@@@@@@@</span></div>
		</div>
	</div>

		<div class="row justify-content-center">
			<div class="content-wrapper">
				<div class="content-container">
				
					<div class="category-wrap">
						<div class="category-bar row">
							<!-- Category bar -->
							<div class="col-sm-1"><button type="button" class="btn category-btn" data-code-id="B0101">자유</button></div>
							<div class="col-sm-1"><button type="button" class="btn category-btn" data-code-id="B0102">공략</button></div>
							<div class="create-board-wrap  d-flex justify-content-end col-sm-10">
								<button class="create-board-btn btn" onclick="location.href='/board/add'">글쓰기</button>
							</div>
						</div>
					</div>

					<div class="board-table">
						<div class="table-header row">
							<div class="col-sm-1"><span>번호</span></div>
							<div class="col-sm-5"><span>제목</span></div>
							<div class="col-sm-2"><span>작성자</span></div>
							<div class="col-sm-2"><span>작성일</span></div>
							<div class="col-sm-2"><span>조회수</span></div>
						</div>

						
						<div class="boardLst row mt-1">
							<!-- 아이템 반복 시작 -->
							<div class="board-item row m-0 " th:each="noticeBoard,stat:${list}" th:data-management-id="${noticeBoard.managementId}">
								<div class=" col-sm-1"><p class="noticeBoardNum" th:text="${stat.count}" th:data-noticeboard-id="${noticeBoard.noticeboardId}">번호</p></div>
								<div class="col-sm-5"><p th:text="${noticeBoard.title}">제목</p></div>
								<div class="col-sm-2"><p th:text="${noticeBoard.nickname}">작성자</p></div>
								<div class="col-sm-2"><p th:text="${noticeBoard.udate}">작성일</p></div>
								<div class="col-sm-2"><p th:text="${noticeBoard.hit}">조회수</p></div>
							</div>
							<!-- 아이템 종료-->
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="Search_wrap d-flex justify-content-end">

            <div class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                <button class="btn btn-outline-success" type="button" id="searchButton">Search</button>
            </div>
        </div>
		</div>
	
		<div class="Pagination_wrap d-flex justify-content-center">
			<div id="pagination"></div>
		</div>

		<div class="row justify-content-center">
			<div class="footer-wrapper col-md-8">
				<!-- Footer content -->
			</div>
		</div>
	</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script type="module" th:inline="javascript" async>

        import { Pagination } from '/static/js/paging/paging.js';

        // SSR 페이징 객체 생성
        const pagination = new Pagination(16, 10); // 한페이지에 보여줄 레코드건수,한페이지에 보여줄 페이지수
        //총 레코드 건수
        const totalCnt = [[${ totalCnt }]];

        pagination.setCurrentPageGroupStart([[${ cpgs }]]); //페이지 그룹 시작번호
        pagination.setCurrentPage([[${ cp }]]); //현재 페이지
        pagination.setTotalRecords(totalCnt); //총레코드 건수
        pagination.displayPagination(nextPage);

        // next Page 받아올 SSR GET방식
        function nextPage() {
            const reqPage = pagination.currentPage;   //요청 페이지
            const recCnt = pagination.recordsPerPage; //페이지당 레코드수
            const cpgs = pagination.currentPageGroupStart; //페이지 그룹 시작번호
            const cp = pagination.currentPage;            //현재 페이지


            const reqPageInput = document.querySelector('input[name="reqPage"]');
            const recCntInput = document.querySelector('input[name="recCnt"]');
            const cpgsInput = document.querySelector('input[name="cpgs"]');
            const cpInput = document.querySelector('input[name="cp"]');

            reqPageInput.value = reqPage;
            recCntInput.value = recCnt;
            cpgsInput.value = cpgs;
            cpInput.value = cp;


            document.getElementById("searchForm").submit();
        }

			const buttons = document.querySelectorAll('.category-btn');

    		buttons.forEach(button => {
        	button.addEventListener('click', () => {

			document.getElementById("category").value = button.getAttribute('data-code-id');
			document.getElementById("keyword").value = "";
			pagination.currentPageGroupStart = 1;
			pagination.currentPage = 1;
			nextPage();
        });
    });

			document.getElementById("searchButton").addEventListener('click', () => {

		    const searchInput = document.getElementById("searchInput").value;
            document.getElementById("keyword").value = searchInput;
            pagination.currentPageGroupStart = 1;
            pagination.currentPage = 1;
            nextPage();
	});



    </script>
</html>
