/* 게시글 틀 */
.container,
.row,
.col-md-12,
.detail-wrapper,
.card {
	height: 100%;
}
.card {
	display: flex;
	flex-direction: column;
}

/* 구분선 */
.title-wrapper {
	border-top: 2px solid #333232; /* 상단 구분선 설정: 두께, 스타일, 색상 */
	border-bottom: 2px solid #333232; /* 하단 구분선 설정: 두께, 스타일, 색상 */
	background-color: #a9a4a4; /* 옅은 회색 배경색 설정 */
	padding: 10px; /* 요소 내부 패딩을 추가하여 텍스트와 구분선 간격을 확보 */
}

.information-wrapper {
	border-bottom: 2px solid #333232;
	padding: 8px; /* 요소 내부 패딩을 추가하여 텍스트와 구분선 간격을 확보 */
}

.content-wrapper {
	border-bottom: 2px solid #333232;
	padding: 8px;
	width: 100%;
	box-sizing: border-box; /* 요소 내부 패딩을 추가하여 텍스트와 구분선 간격을 확보 */
}
.rbbs-head-wrapper {
	border-bottom: 2px solid #333232;
	padding: 8px;
}
/* 구분선 */

/*텍스트 설정 */
.info-head {
	font-weight: bold; /* 텍스트를 굵게 설정 */
}

.title-wrapper > span {
	font-weight: bold; /* 텍스트를 굵게 설정 */
}

.content-wrapper p {
	white-space: pre-wrap; /* 줄 바꿈을 유지 */
	margin: 0; /* p 요소의 기본 마진을 제거하여 불필요한 여백을 줄임 */
}

@media (min-width: 768px) {
	.content-wrapper {
		min-height: 400px; /* 화면이 클 때 최소 높이를 설정 */
	}
}

/* 좋아요 */

.board-info-wrap {
    display: flex;
    align-items: center;
    gap: 10px; /* 요소들 사이의 간격 조절 */
}

.like-button-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.like-button {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.like-button.liked {
    background-color: red;
}